@import "css/formulaires.less";

/**
 * Variables
 */

@greyDark:                               #443220;
@greyLight:                              #728483;
@beige:                                  #f6f4ef;
@orange:                                 #f0821a;
@charcoal:                               #2e4140;
@amber:                                  #f5bb27;
@yellowBrown:                            #9c6d03;
@green:                                  #14b67e;

@linkColor:                              @orange;

@navbarInverseBackground:                @white;
@navbarInverseBackgroundHighlight:       @white;
@navbarInverseBorder:                    @white;

@navbarLinkColorHover:                   @greyDark;

@navbarInverseText:                      @greyDark;
@navbarInverseLinkColor:                 @greyDark;
@navbarInverseLinkColorHover:            @orange;

@formActionsBackground:                  transparent;

@btnSuccessBackground:                   @green;
@btnSuccessBackgroundHighlight:          lighten(@green, 10%);



/*
 * Mixins.
 */
.bouton (@backgroundColor: @green) {
	background-color: @backgroundColor;
	-moz-border-radius: 15;
	-webkit-border-radius: 15;
	border-radius: 50px;
	border: none;
	box-shadow: none;
	text-shadow: none;
	background-image: none;
	padding: 0.7em 1.2em;
	display:inline-block;
}
/*
 * Fonts
 */
@font-face {
		font-family: 'montserratregular';
		src: url('fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
				url('fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@serifFontFamily: montserratregular;


/*
 * Blocks
 */

section.page-body, .container > div.main {
	padding-right: 3.25em;
	padding-left: 3.25em;
}

section.page-body.ongoing_projects,
section.page-body.events,
section.page-body.workshops,
section.page-body.articles_rubrique {
	background-color: @beige;
	padding-right: 1.6em;
	padding-left: 1.6em;
}

section.page-body.articles_rubrique {
	background-color: @white;
}

.page-body {
	padding-top: 5em;
	padding-bottom: 5em;
	.cartouche {
		margin-bottom: 3em;
	}
	h1 {
		margin-bottom: 0.5em;
		font-weight: bold;
	}
}
.home #content .cartouche {
		display: block;
}

.main {text-align: left;}

// Header.
.home #content .cartouche {
	display: block!important;
}

#header {
	margin: 2em 1em;
	.logo {
		padding-top: 0.1em;
	}
}

.header {
	.logo {
			.spip_logos {
			margin: 0;
		}
	}
}

.page-head {
	text-align: center;
	> header, article > header{
		color: #ffffff;
		min-height: 380px;
		background-color:transparent;
		background-size: cover;
		padding-bottom: 2em;
		margin-bottom: 0;
		h1 {
			font-size: 3.126em;
			text-shadow: 0 0 4px rgba(86, 59, 33, 0.3);
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			padding-top:1em;
		}
		.chapo {
			color: #ffffff;
			font-size:1.1em;
			margin: 0 3em;
		}
		nav {
			margin: 0 13em;
			.btn {
				color: #ffffff;
				background-color: transparent;
				border: 2px #ffffff solid;
			}
			.liste-items .item {
				border-top: none;
				clear: none;
				display: inline-block;
				margin-right: 0.4em;
			}
			.liste-items .item:last-child {
				border-bottom: none;
				margin-right: 0;
			}
		}
	}
}



// Breadcrumbs.
.breadcrumb {
	background-color: transparent;
	border-radius: 0;
	list-style: outside none none;
	margin: 0 0 1em 1.9em;
	text-align:left;
	font-size:0.9em;
	> li {
		text-shadow: none;
		> .divider {
			padding: 0 2px;
		}
	}
	a {
		color: #ffffff;
	}
}

// Footer
#footer {
	background-color: @charcoal;
	background-image: url(images/bg_footer.png);
	background-size: cover;
	padding-bottom: 0;
	padding-top: 1em;

	.colophon {
		margin: 2em 1em 0;
		padding-right: 0;
	}
	.main {
		text-align: center;
	}
	.copyright {
		background-color: @charcoal;
		padding: 2em 0;
		margin-bottom: 0;
	}
	.newsletter {
		padding: 4em 0 2.5em 0;
		strong {
			font-size: 2em;
		}
	}
}

/*
 * General.
 */


 .cartouche {
 	text-align:center;
 }

 	.liste-detail {
		background-color: @white;
		.row-fluid .span6  {
			width: 50%;
		}
		.span6.texte{
			.wrapper {
				padding: 3em;
			}
		}
	}

p.all {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 0;
	a {
		color: @charcoal;
		text-decoration: underline;
	}
}

.liste.articles {
	.liste-items {
		h3 {
			margin-bottom: 0.5em;
		}
		img {
			float:left;
			width: 33%;
		}
		.texte {
			float:left;
			width: 66%;
			.wrapper {
				padding-left: 2em;
			}
		}
	}
}

.info-publi {
	margin-bottom: 0.5em;
	color: @greyLight;
}

abbr[title], acronym[title], abbr[data-original-title] {
	border-bottom: none;
	text-decoration: none;
	color: @greyLight;
}

.results {
	background-color: @amber;
	h1, .label, .nombre {
		color: @yellowBrown;
	}
	h1 {
		font-weight: bold;
	}
	.main {
		text-align: center;
		> div {
			float: left;
			width: 25%;
		}
	}
	.icon {
		border: 2px solid @yellowBrown;
		border-radius: 11em;
		margin: 0 auto;
		height: 11vw;
		width: 11vw;
	}
	img {
  height: 69%;
  padding: 15% 0;
  width: 69%;
	}
	.label {
		background-color: transparent;
		font-size: 1em;
		font-weight: normal;
		line-height: normal;
		padding: 0;
		text-shadow: none;
		white-space: normal;
		width: 69%;
	}
	.nombre {
		font-size: 1.8em;
		font-weight: bold;
		line-height: normal;
		margin: 0.5em 0 0.1em;
	}
}

// Boutons
.btn {
	.bouton;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
	background-color: @amber;
}

.action-buttons {
	.btn{
		float: right;
		margin-top: 0;
		margin-right: 0.4em;
	}
	> div {
		margin-right: 0.4em;
	}
}
.btn.facebook{
	.bouton(#e4e4e4);
	background-image: url(images/icon-facebook.png);
	background-position: center center;
	background-repeat: no-repeat;
	width:9px;
	color: #e4e4e4;
	margin-right: 0;
	span {
		visibility: hidden;
	}

}
.formulaire_menu_lang {
	.bouton(#e4e4e4);
}


#footer {
	margin-top: 0;
	padding-top: 0;
	.navigation {
		border-bottom: 1px #ffffff solid;
		padding-bottom: 2em;
	}
	.btn.facebook {
		background-color: @charcoal;
		background-image: url(images/icon-facebook-white.png)
	}
}

/*
 * Menus
 */

// navbar

.navbar-inner {
	border:none;
	border-radius: none;
	box-shadow: none;
	padding: 0;
	.on {
		font-weight:normal;
	}
}

.navbar-inverse {
	.nav > li > a {
		text-shadow: none;
		padding: 0.7em 0.5em;
	}
	.nav > li.on > a{
		color: @orange;
	}
}

.navbar {
	margin-top: 0.5em;
	margin-bottom: 0;
	.nav{
		float:right;
	}
}

#footer {
	color: @white;
	border-top: none;
	text-align: center;
	.navbar-inner {
		background-color: transparent;
		background-image: none;
		li {
			float: left;
			a {
				padding: 0.7em 0.5em;
				color: @white;
			}
		}
		li:first-child a {
			padding-left: 0;
		}
		li.on > a{
			color: @orange;
		}
	}
}

/**
 * Home
 */

.home {
	.page-head {
		> header {
			h1 {
				 visibility: hidden;
			}
		 }
		 .chapo {
			font-size: 2.5em;
			line-height: normal;
		}
	}
	.support_us{
		background-color: @green;
		h1 {
			color: @white;
		}
		.btn {
			color: @charcoal;
			background-color: @amber;
			border: 2px @amber solid;
		}
		.liste-items .item {
			border-top: none;
			clear: none;
			display: inline-block;
			margin-right: 0.4em;
		}
		.liste-items .item:last-child {
			border-bottom: none;
			margin-right: 0;
		}
	}
}



/**
 * Section Our Work.
 */

/*Rubrique What we do */
.what_we_do {
	.boutons-images {
		.bouton-image{
			position: relative;
			 text-align: center;
			img {
				border-radius: 11em;
			}
			.texte {
				font-size: 1.4em;
				color: @white;
				display: block;
				top: 50%;
				width: 100%;
				position: absolute;
				padding: 0 5px;
				transform: translate(-50%, -50%);
				left: 50%;
				line-height: normal;
				text-transformation: uppercase;
				span {
					display: block;
					padding: 0 1.5em;
				}
			}
		}
	}
	> .main{
		display:table;
		width: 100%;
		.texte {
			display:table-cell;
			width: 66%;
		}
	}
	.boutons {
		width:33%;
		display: table-cell;
		vertical-align: middle;

		> div {
			vertical-align:middle
		}
		a {
				display:block;
				margin: 0 0 1em 5em;
				color: @charcoal;
			}
	}
}

// Projects.

section.ongoing_projects{

	.compteur {
		text-align: center;
	}
	.ongoing-projects {
		.bouton(@amber);
		border-radius:10em;
		padding: 0.1em 0.5em;
	}
	.finished-projects {
		text-decoration: underline;
	}
}

// Support us.

body.support_us {
	.page-body:nth-child(odd) {
		background-color: @beige;
	}
	img {
		border-radius:11em;
		float: left;
		margin-right:2em;
	}
	.contenu{
		padding: 1em 2em;
		a {
			.bouton();
			color: @charcoal;
		}
		a:hover {
			background-color: @amber;
		}
		a:nth-child(even) {
			background-color: @amber;
		}
		a:nth-child(even):hover {
			background-color: @green;
		}
	}
}

// About.

.rub-orig-29 {
	.page-body:nth-child(odd) {
		background-color: @beige;
	}
	.page-body {
		img {
			float: right;
			margin-left: 2em;
			width: 50%
		}
		.documents_joints .liste-items .item {
			border:none;
			padding-left: 0;
			.bouton();
			strong{
				font-weight: normal;
			}
			a {
				color: @charcoal;
			}
		}
	}
	section.team{
		background-color: @charcoal;
		background-size: cover;
		color: @white;
		h1, a {
			color: @white;
		}
		a.btn {
			color: @charcoal;
		}
		.main {
			text-align: center;
		}
		.team {
			margin-top: 14em;
			margin-bottom: 2em;
			text-align: left;
			p {
				margin-bottom: 0.2em;
			}
			a {
				text-decoration: underline;
			}
			.fonction {
				font-size: 1.2em;
				font-weight: bold;
				margin-bottom: 0.6em;
			}
		}
	}
	section.famous_fans {
		.fan {
			width: 50%;
			float: left;
			margin-bottom: 2em;
			a {
				text-decoration: underline;
				color: @charcoal;
			}
			img {
				float: left;
				width: auto;
				margin-right: 2em;
				margin-left: 0;
				width: 26%;
			}
			p {
				margin-bottom: 0.2em;
			}
			.prenom_nom {
				font-size: 1.2em;
				font-weight: bold;
				margin-top: 0.5em;
				margin-bottom: 0.6em;
			}
		}
	}
	.sponsors {
		img {
			width: auto;
		}
	}
}

@media (min-width: 1200px) {
	.page {
		max-width: 1220px;
		margin: 0 auto;
	}

	// Blocks

	section.page-body, .container > div.main {
		padding-right: 8em;
		padding-left: 8em;
	}

	section.page-body.ongoing_projects,
	section.page-body.events,
	section.page-body.workshops,
	section.page-body.articles_rubrique{
		padding-right: 3.2em;
		padding-left: 3.2em;
	}
}

