@import "css/formulaires.less";

/**
 * Variables
 */

@grayDark:                               #443220;
@orange:                                 #f0821a;
@charcoal:                               #2e4140;
@amber:                                  #f5bb27;

@linkColor:                              @orange;

@navbarInverseBackground:                @white;
@navbarInverseBackgroundHighlight:       @white;
@navbarInverseBorder:                    @white;

@navbarLinkColorHover:                   @grayDark;

@navbarInverseText:                      @grayDark;
@navbarInverseLinkColor:                 @grayDark;
@navbarInverseLinkColorHover:            @orange;

@formActionsBackground:                  transparent;



/*
 * Mixins.
 */
.bouton (@backgroundColor: #14b67e) {
	background-color: @backgroundColor;
	-moz-border-radius: 15;
	-webkit-border-radius: 15;
	border-radius: 50px;
	border: none;
	box-shadow: none;
	text-shadow: none;
	background-image: none;
	padding: 0.7em 1.2em;
	display:inline-block;
}
/*
 * Fonts
 */
@font-face {
		font-family: 'montserratregular';
		src: url('fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
				url('fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

@serifFontFamily: montserratregular;


/*
 * Blocks
 */

.container > section, .container > div.main {
	padding-right: 45px;
	padding-left: 45px;
}

.page-body {
	padding-bottom: 3em;
}

.page-body:first-child {
	padding-top: 2em;
}

.home #content .cartouche {
		display: block;
}

// Header.
.home #content .cartouche {
	display: block!important;
}

#header {
	margin: 2em 1em;
	.logo {
		padding-top: 0.1em;
	}
}

.header {
	.logo {
			.spip_logos {
			margin: 0;
		}
	}
}

.page-head {
	text-align: center;
	> header{
		color: #ffffff;
		min-height: 380px;
		background-color:transparent;
		background-size: cover;
		padding-bottom: 2em;
		h1 {
			font-size: 3.126em;
			text-shadow: 0 0 4px rgba(86, 59, 33, 0.3);
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			padding-top:1em;
		}
		.chapo {
			color: #ffffff;
			font-size:1.1em;
			margin: 0 3em;
		}
		nav {
			margin: 0 13em;
			.btn {
				color: #ffffff;
				background-color: transparent;
				border: 2px #ffffff solid;
			}
			.liste-items .item {
				border-top: none;
				clear: none;
				display: inline-block;
				margin-right: 0.4em;
			}
			.liste-items .item:last-child {
				border-bottom: none;
				margin-right: 0;
			}
		}
	}
}



// Breadcrumbs.
.breadcrumb {
	background-color: transparent;
	border-radius: 0;
	list-style: outside none none;
	margin: 0 0 1em 1.9em;
	text-align:left;
	font-size:0.9em;
	> li {
		text-shadow: none;
		> .divider {
			padding: 0 2px;
		}
	}
	a {
		color: #ffffff;
	}
}

// Footer
#footer {
	background-color: @charcoal;
	background-image: url(images/bg_footer.png);
	background-size: cover;
	padding-bottom: 0;
	padding-top: 1em;

	.colophon {
		margin: 2em 1em 0;
		padding-right: 0;

	}
	.copyright {
		background-color: @charcoal;
		padding: 2em 0;
		margin-bottom: 0;
	}
	.newsletter {
		padding: 4em 0 2.5em 0;
		strong {
			font-size: 2em;
		}
	}
}

/*
 * General.
 */

 .cartouche {
 	text-align:center
 }

// Boutons
.btn {
	.bouton;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
	background-color: @amber;
}

.action-buttons {
	.btn{
		float: right;
		margin-top: 0;
		margin-right: 0.4em;
	}
	> div {
		margin-right: 0.4em;
	}
}
.btn.facebook{
	.bouton(#e4e4e4);
	background-image: url(images/icon-facebook.png);
	background-position: center center;
	background-repeat: no-repeat;
	width:9px;
	color: #e4e4e4;
	margin-right: 0;
	span {
		visibility: hidden;
	}

}
.formulaire_menu_lang {
	.bouton(#e4e4e4);
}


#footer {
	.navigation {
		border-bottom: 1px #ffffff solid;
		padding-bottom: 2em;
	}
	.btn.facebook {
		background-color: @charcoal;
		background-image: url(images/icon-facebook-white.png)
	}
}

/*
 * Menus
 */

// navbar

.navbar-inner {
	border:none;
	border-radius: none;
	box-shadow: none;
	padding: 0;
	.on {
		font-weight:normal;
	}
}

.navbar-inverse {
	.nav > li > a {
		text-shadow: none;
		padding: 0.7em 0.5em;
	}
	.nav > li.on > a{
		color: @orange;
	}
}

.navbar {
	margin-top: 0.5em;
	margin-bottom: 0;
	.nav{
		float:right;
	}
}


#footer {
	color: @white;
	border-top: none;
	text-align: center;
	.navbar-inner {
		background-color: transparent;
		background-image: none;
		li {
			float: left;
			a {
				padding: 0.7em 0.5em;
				color: @white;
			}
		}
		li:first-child a {
			padding-left: 0;
		}
		li.on > a{
			color: @orange;
		}
	}
}

/**
 * Home
 */

.home {
	 .page-head {
		 > header {
			 h1 {
				 visibility: hidden;
			 }
		 }

		 .chapo {
			 font-size: 2.5em;
			 line-height: normal;
		 }
	 }
}



/**
 * Section Our Work.
 */

/*Rubrique What we do */
.what_we_do {

	.boutons-images {
		.bouton-image{
			position: relative;
		}
		img {
			border-radius: 11em;
		}
		.texte {
			color: @white;
			display: block;
			left: 0;
			position: absolute;
		}
	}
	> .main{
		display:table;
		.texte {
			display:table-cell;
			width: 66%;
		}
	}
	.boutons {
		width:33%;
		display: table-cell;
		vertical-align: middle;

		> div {
			vertical-align:middle
		}
		a {
				display:block;
				margin: 0 0 1em 5em;
			}
	}
}

@media (min-width: 1200px) {
	.page {
		max-width: 1220px;
		margin: 0 auto;
	}

	// Blocks
	.container > section, .container > div.main {
		padding-right: 90px;
		padding-left: 90px;
	}
}

