/* Formulaire statuts */

.formulaire_instituer .show select,  .formulaire_instituer .show option {
	background-color: #eee;
	background-position: 4px center;
	background-repeat: no-repeat;
	color: inherit;
}

/* Formulaire upload document*/

.none, .js .none-js, .no-js .none-nojs {
    display: none;
}